@model EntityLayer.Concrete.Message

@{
    ViewData["Title"] = "ContactDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mesaj Detay Sayfası</h4>
            <form class="forms-sample">
                <div class="form-group">
                    <label>ID</label>
                    @Html.TextBoxFor(X => X.MessageID, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Ad</label>
                    @Html.TextBoxFor(X => X.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Mail</label>
                    @Html.TextBoxFor(X => X.Mail, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Tarih</label>
                    @Html.TextBoxFor(X => X.Date, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>İçerik</label>
                    @Html.TextBoxFor(X => X.Content, new { @class = "form-control" })
                    <br />
                    <a asp-action="Index" class="btn btn-primary mr-2">İletişim Sayfası</a>
                </div>
            </form>
        </div>
    </div>
</div>
